/* topbar  */
.navigation {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0px;
    height: 40px;

    z-index: 999;
    background: #fff;
}

/* ----------------------------------- */
/* nav-mobile */
/* ----------------------------------- */

.nav-mobile {
    position: relative;
    padding: 0px 15px;
}

.nav-ul {
    background: #fff;
}

.nav-mobile .nav-li {
    padding: 10px 15px;
    font-size: 18px;
}

.nav-mobile .nav-ul {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0px;
    height: calc(100vh - 40px);

    overflow: hidden;
}
.nav-mobile.is-open .nav-ul {
    width: 90%;
    z-index: 9999999;
}
.nav-mobile__btn {
    cursor: pointer;
    line-height: 40px;
}