.c-media {
    display: inline-block;
    max-width: 300px;
}

.c-media img {
    width: 100%;
    height: auto;
}
/* --------------------------------------- 
              
------------------------------------------ */
#app {
    min-height: 100vh;
}
.main-view {
    min-height: calc(100vh - 40px);
    /* min-height: calc(100%); */
}
/* --------------------------------------- 
             
------------------------------------------ */

/* --------------------------------------- 
                home 
------------------------------------------ */
.block-home {
    height: calc(100vh - 40px);
    display: flex;
    padding-top: 20%;
    background: rgb(192, 192, 192);
    overflow-y: auto;
}
.block-home__left {
    width: 60%;
}
.block-home__right {
    width: 40%;
}
/* --------------------------------------- 
             fin - home 
------------------------------------------ */